@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf');
}


.hello {
  color: #c00;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  background-image: url('./nyan.gif');
  background-position: left center;
}
